set default=0
set timeout=5

menuentry "KlipperAI-OS — Baslat" {
    linux /live/vmlinuz boot=live components quiet splash
    initrd /live/initrd.img
}

menuentry "KlipperAI-OS — Guvenli Mod (nomodeset)" {
    linux /live/vmlinuz boot=live components nomodeset
    initrd /live/initrd.img
}

menuentry "KlipperAI-OS — Debug (verbose)" {
    linux /live/vmlinuz boot=live components
    initrd /live/initrd.img
}
