set default=0
set timeout=5

menuentry "KlipperOS-AI -- Kur" {
    linux /live/vmlinuz boot=live components quiet splash \
        toram locales=tr_TR.UTF-8 keyboard-layouts=tr
    initrd /live/initrd.img
}

menuentry "KlipperOS-AI -- Guvenli Mod" {
    linux /live/vmlinuz boot=live components nomodeset \
        toram locales=tr_TR.UTF-8 keyboard-layouts=tr
    initrd /live/initrd.img
}

menuentry "KlipperOS-AI -- Debug" {
    linux /live/vmlinuz boot=live components \
        locales=tr_TR.UTF-8 keyboard-layouts=tr
    initrd /live/initrd.img
}
